.bets {
  background-color: rgba(128, 128, 128, 0.233);
  margin: 0.6rem 15rem;
  height: 76.5vh;
  overflow: auto;

  &__title {
    padding: 0.5rem 1rem;
    font-size: 3rem;
    font-weight: bold;
  }

  &__list {
    padding: 0.5rem 0.8rem
  }

  &__list--item {
    border: 1px solid gray;
    background-color: rgba(51, 221, 51, 0.171);
    padding: 0.7rem 0.4rem;
    margin-top: 0.2rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list--link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0.4px 0.4px 1.4px black;
  }

  &__list--li {
    width: 20rem;
    margin-bottom: 0.6rem;

  }

  // &__list--item:hover {
  //   background-color: rgba(128, 128, 128, 0.514);
  //   transition: 0.4s;
  //   transform: translate(2px);
  // }

}
