.wars {
  background-color: rgba(128, 128, 128, 0.233);
  margin: 0.6rem 15rem;
  height: 60vh;
  overflow: hidden;

  &__list {
    padding: 0.5rem 0.8rem
  }

  &__list--item {
    border: 1px solid gray;
    padding: 1rem 0.4rem;
    margin-top: 0.2rem;
  }

  &__list--item:hover {
    background-color: rgba(128, 128, 128, 0.514);
    transition: 0.3s;
    transform: translate(2px);
  }
}
