.sign {
  background-color: rgba(128, 128, 128, 0.233);
  margin: 7rem 15rem;
  padding: 2rem 2rem;
  height: 48vh;
  overflow: auto;
  


  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0 1rem 0.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 70rem;
    align-items: flex-start;
  }

  &__input {
    height: 2.5rem;
    width: 20rem;
    font-size: 1.2rem;
    margin: 0 0 1rem 0.5rem;

  }

  &__input:hover {
    border: 2px solid rgba(19, 19, 187, 0.698);
  }

  &__login--text {
    margin: 0 0 0 0.5rem;

  }

  &__login--btn {
    margin: 0 0 0 0.5rem;
    color: rgba(27, 27, 199, 0.774);

  }

  &__login--btn:hover {
    color: rgba(11, 11, 218, 0.924);
    
  }
  
  &__btn {
    margin: 3rem 0 0.5rem 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    padding: 0.6rem 1rem;
    background-color: rgba(27, 27, 199, 0.774);
    border: none
  }

  &__btn:hover {
    background-color: rgba(11, 11, 218, 0.924);
    transition: 0.3s;
  }
}
