.header {
  

  &__nav {
    border: 2px solid rgba(128, 128, 128, 0.514);
    margin: 2rem 15rem 0.7rem 15rem;
  }

  &__nav--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav--input {
    margin-left: 1rem;
    height: 2.5rem;
    width: 20rem;
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
  }

  &__nav--input:hover {
    border: 2px solid rgba(19, 19, 187, 0.698);
  }

  &__nav--input::placeholder {
    font-size: 1.1rem;
  }


  &__nav--item {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1.2rem 2rem;
    

  }

  &__nav--item:hover {
    background-color: rgba(219, 219, 224, 0.459);
    transition: 0.3s;
  }
}




