.news {
  background-color: rgba(128, 128, 128, 0.233);
  height: 21vh;
  margin: 0rem 15rem;
  display: none;

  &__visible {
    display: block;
  }

  &__text {
    text-align: center;
    padding: 2rem;
  }
}
